:root {
  --image-size: 9.5rem;
}
.UserCard {
  border: 2px solid yellow;
  background-color: #d8d8d8;
  border-radius: 50px;
  transition: transform 0.2s;
  font-size: 8px;
  width: 225px;
  height: 350px;
}
.UserCard:hover {
  transform: scale(1.5);
  font-size: large;
  height: unset;
}
.UserCard img {
  margin: 0 auto 0 33px;
  display: flex;
  flex-direction: row;
  height: var(--image-size);
  width: var(--image-size);
  border-radius: 50%;
}

.UserCardAbout {
  text-align: justify;
}

.UserFlex {
  display: inline-flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 30%;
  padding: 5px;
}
.UserText {
  display: flex;
  flex-direction: row;
}
