.Avatar {
  width: 10%;
  box-shadow: 5px 5px 8px;
  position: relative;
  bottom: 20px;
  margin: 2px;
  float: right;
}

.MessageLikeButton {
  position: relative;
  left: 60px;
}
.ThumbsUp {
  position: relative;
  left: 160px;
  font-weight: bold;
}
.MessageUnlikeButton {
  position: relative;
  left: 70px;
}
.ThumbsDown {
  position: relative;
  left: 245px;
  bottom: 30px;
  font-weight: bold;
}
.Hidden {
  display: none;
}
