.Carousel {
  border: 2px solid blue;
  margin: 10%;
}
.carousel-item img {
  width: 100%;
}
.Duck {
  border: 2px solid blue;
  margin-top: 20px;
}
.Rubber {
  color: red;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: red;
}
